.container{
    background-color: red;
    width:100%;
    height:100vh;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    padding:10px;
    margin-right:10px;
    column-gap:8px;
}

.item{
    background-color:white;
    height:110px;
    width:140px;
    padding:50px;
   
} 

.item1{
 grid-column-start: 1;
    grid-column-end:4; 
    background-color: white;
    height:210px;
    

}