div{
    text-align: center;
    padding:60px;
    background-color: white;
    width:450px;
    box-shadow: 10px 10px 10px 10px grey;
    margin:200px 450px;
}

input{
    text-align: center;
    padding:13px;
    width:200px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 20px;
}

button{
    padding: 15px;
    width:150px;
    border-radius: 15px;
}



