p{
    text-align: center;
    background-color: red;
    padding: 10px;
    margin:315px 650px;
    width:150px;
}

@media screen and (max-width:266px) {
    p {
         text-align: center;
         margin:270px 196px;
    }
}









